name: CI on image_updated
on:
  repository_dispatch:
    branches: [main]
    types: image_updated

jobs:
  java-test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        distribution: ["adopt"]
        java-version: [11]

    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-java@v2
        with:
          distribution: ${{ matrix.distribution }}
          java-version: ${{ matrix.java-version }}
          cache: 'gradle'
      - uses: gradle/wrapper-validation-action@v1

      - name: Start hserver
        run: docker-compose --file docker-compose.yml up -d

      - name: Waiting hserver
        run: ./wait_hserver.sh || ( docker-compose logs hserver0 && exit 1 )

      - name: Run bench
        run: |
          ./gradlew writeBench --args="\
              --bench-time=60 \
              --warmup=10 \
              --service-url=127.0.0.1:6570 \
              --thread-count=2 \
              --stream-count=10 \
              --ordering-keys=2 \
              --stream-backlog-duration=60 \
              --stream-replication-factor=1 \
              --record-size=1024 \
              --batch-bytes-limit=204800 \
              --batch-age-limit=500 \
              --rate-limit=100000 \
              --total-bytes-limit=81920000" > ./results.txt
          cat ./results.txt

      - name: Post to Slack channel
        if: ${{ success() }} || ${{ failure() }}
        run: |
          if [ "${{ job.status }}" = 'success' ]
            then JOB_STATUS_EMOJI=':white_check_mark:'
            else JOB_STATUS_EMOJI=':x:'
          fi
          SPEED=$(cat results.txt |grep TotalAvgThroughput |cut -d' ' -f2)
          curl -X POST -H 'Content-Type: application/json' \
            ${{ secrets.SLACK_WEB_HOOK_URL }} \
            --data "{\"data\": \": ${JOB_STATUS_EMOJI} ${SPEED} MB/s \n\
              Commit info: https://github.com/hstreamdb/hstream/commit/${{ github.event.client_payload.commit_sha }}\n\
              Action summary: https://github.com/$GITHUB_REPOSITORY/actions/runs/$GITHUB_RUN_ID\"}"
